# Python virtual environments
.venv/
venv/

# Python cache files
__pycache__/
*.py[cod]

# Pytest cache
.cache/
.pytest_cache/

# IDE settings
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
